RewriteEngine On     
RewriteRule    	^home/?$    						index.php    [NC,L]   
RewriteRule    	^reservation/?$    					reservation.php    [NC,L]    
RewriteRule    	^guestinfo/?$    					guestinfo.php    [NC,L]    
RewriteRule    	^thankyou/?$    					thankyou.php    [NC,L]   
RewriteRule    	^admin/?$    						admin.php    [NC,L]   
RewriteRule    	^logout/?$    						logout.php    [NC,L]  
RewriteRule    	^admin-logout/?$    				admin-logout.php    [NC,L]  
RewriteRule    	^delete_reservation/?$    			delete_reservation.php    [NC,L]   
RewriteRule    	^printreservation/?$    			printreservation.php    [NC,L]  
RewriteRule    	^createpersonel/?$    			    createpersonel.php    [NC,L]   
RewriteRule    	^searchroom/?$    			    	searchroom.php    [NC,L]   
RewriteRule    	^guestprofile/?$    			    guestprofile.php    [NC,L]   
RewriteRule    	^about/?$    			    		about.php    [NC,L]   
RewriteRule    	^contact/?$    			    		contact.php    [NC,L]    
RewriteRule    	^downpayment/?$    			        downpayment.php    [NC,L]     
RewriteRule    	^checkout/?$    			        checkout.php    [NC,L]     
RewriteRule    	^add_accomodation/?$    		    add_accomodation.php    [NC,L]     
RewriteRule    	^additem/?$    		    			additem.php    [NC,L]   
RewriteRule    	^forgotpass/?$    		    	    forgotpass.php    [NC,L]   
RewriteRule    	^generateReports/?$    		        generateReports.php    [NC,L]   
RewriteRule    	^update_room_image/?$    		    update_room_image.php    [NC,L]   
RewriteRule    	^add_guest_name/?$    		    	add_guest_name.php    [NC,L]  
 
RewriteRule    	^rules/?$    		    	        rules.php    [NC,L]    
 


RewriteRule     ^profile/([A-Za-z0-9]+)?$  					reservation.php?rnum=$1&page1=$2 [NC,L]    
 