#initContainer { 

	/*border: 1px solid #000;*/
}
#search-reservation-c { 
	position: absolute;  
	background-color: #ccc;
	opacity: 0.9; 
	margin-left: 20px;
	margin-top: 40px;
	border-radius: 5px;  
	padding: 10px;
}